

h1 {
  color: rgb(242, 247, 241);
  background-color: rgb(84, 152, 75); 
  text-align: center;
  clear: both;
}


h2 {
  color: rgb(47, 67, 45);
  text-align: center;
  clear: both;
}

h3 {
  color: rgb(47, 67, 45);
  text-align: left;
  clear: both;
}


 .navbar a {
  
  background-color:rgb(159, 166, 158); ;
  color: rgb(65, 105, 57);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-flex;

 }

.navbar a:hover {
  background-color: rgb(63, 65, 62);;
  color: rgb(235, 223, 223);
}


.header-nav {
  width: 100%;
  margin-top: 0;
  padding: 1rem;
  background-color: green;
  text-align: center;
  color: white;  
}

 .wrapper {
  float: left;
  width: 33.33%;
  color: rgb(84, 152, 75); 
  text-align: left;
 }

 /* .flex-container {
  padding: 50px;
  margin: 20px;
  list-style: none;
  display: flex
  
} */

.wrap {
  flex-wrap: wrap;
}

body {
margin-left: 150px;
margin-right: 150px;
padding-left:50px;
padding-right:50px;

}

button{
background-color:  rgb(134, 138, 133);
color: black;

}
.text {
  margin-right: 3rem;
  padding: 3rem;
  float: left;
  justify-content: left;
  align-items: left;
  text-align: left;
}

img {
  margin-left: 3rem;
  padding: 3rem;
  float: right;
  flex-wrap: wrap;


}